/*
* TODO: 
* [ ] Make all the colors imported from the colors module
* [ ] Set all the color properties to imported colors from the colors module
*/
* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

:export {
  primaryDark: black;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-BlackItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Black.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Bold.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-BoldItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Heavy.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Light.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-LightItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Medium.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-MediumItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Regular.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-RegularItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Semibold.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Thin.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-ThinItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-Ultralight.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url("/fonts/SFDisplay/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("/fonts/SFDisplay/SFProDisplay-UltralightItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body {
  background: #751200;
  color: white;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: 'SFProDisplay',monospace, arial, helvetica;
  font-weight: 200;
}

button {
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  padding: .5rem 1rem;
  opacity: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

button:hover {
  background: #d4d4d4;
  opacity: 1;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  z-index: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  width: 100%;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

.timer {
  font-size: 14.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.timer:hover {
  color: #b3b3b3;
}

.start-timer {
  display: inline-block;
  margin: 1rem 0;
}

.reset-timer {
  display: none;
  color: white;
  margin: 1rem 0;
}

.reset-timer:hover {
  background: #d4d4d4;
  opacity: 1;
}

.mode-selector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.mode-selector-container .mode-selector {
  padding: .5rem 1rem;
  margin: 0 .3rem;
  color: white;
}

.mode-selector-container .mode-selector.pomodoro {
  background: #e03a3c;
}

.mode-selector-container .mode-selector.short-break {
  background: #009ddc;
}

.mode-selector-container .mode-selector.long-break {
  background: #62bb47;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(28, 99, 0, 0.3);
  height: 100vh;
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  text-align: center;
  padding: 1rem 2rem;
  background: white;
  border-radius: 10px;
  width: 50%;
}

.modal button {
  font-size: 1rem;
  color: tomato;
}

.modal h2 {
  font-size: 3rem;
}

.modal p {
  font-size: 2rem;
}

.modal button, .modal h2, .modal p {
  margin: .5rem 0;
}

/* Media Queries*/
@media (max-width: 700px) {
  :root {
    font-size: 10px;
  }
  .modal {
    width: 100%;
  }
}

@media (max-width: 380px) {
  :root {
    font-size: 6px;
  }
  .modal {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */