@font-face {
    font-family: 'SFProRegular';
    src: url('/fonts/SFDisplay/specimen_files/fontsfree-net-sfprodisplay-regular-webfont.woff2') format('woff2'),
         url('/fonts/SFDisplay/specimen_files/fontsfree-net-sfprodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}